<div class="mw9 center pt3 pt5-ns pb4 pb6-ns">

  <div class="cf center w-100 w-100-m w-70-ns tc pa3 pa5-ns pb3-ns">
    <%= image_tag 'icon-datalab-colour.svg', :class => "w4 pt4" %>
    <h1 class="f2 f1-ns lh-title dark-gray mt2">
      DataLab
    </h1>
    <p class="f4 lh-copy">
      DataLab provides a mash up environment for geospatial data.
    </p>
    <p class="f5 lh-copy">
      For consumers of data the ability to freely relate data in context with other data sources by location and time provides an opportunity to qualify the value and quality of data for their purposes plus the ability to explore relationships between data sets ahead of potential framework adoption.
    </p>
  </div>


  <div class="cf center tc pa3 pv5">
    <%= image_tag 'datalab-screenshot.png', :class => "w-100 w-two-thirds-ns" %>
  </div>


  <div class="cf center pv3">
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-datalab-1.svg', :class => "w3" %>
      <h3 class='f3 lh-title green ma3'>
        Visualise
      </h3>
      <p class="f5 lh-copy">
        A web based data visualisation and collaboration environment, DataLab is a test-bed that brings together geospatial data for inspection and interrogation.
      </p>
    </div>
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-datalab-2.svg', :class => "w3" %>
      <h3 class='f3 lh-title green ma3'>
        Arrange
      </h3>
      <p class="f5 lh-copy">
        DataLab allows users to visualise geographical time-based data with an easy-to-use mapping web application. Arrange data in layers, apply filters and aggregrate in combination with other layers.
      </p>
    </div>
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-datalab-3.svg', :class => "w3" %>
      <h3 class='f3 lh-title green ma3'>
        Understand
      </h3>
      <p class="f5 lh-copy">
        DataLab helps to assess the quality of your data and to broadly understand relationships between datasets.
      </p>
    </div>

  </div>
</div>
