<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BucketLabs<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'tachyons.min.css', 'bucketlabs-gradients.css' %>
  </head>
  <body class="helvetica w-100 bg-white navy">
      <section class="w-100">
<%= partial "partials/header" %>
        <article>
          <div class="pa3-ns">
            <div class="cf mw9 center">
<%= yield %>
            </div>
          </div>
        </article>
<%= partial "partials/footer" %>
      </section>
  </body>
</html>
