<div class="mw9 center pt3 pt5-ns pb4 pb6-ns">

  <div class="cf center w-100 w-100-m w-60-ns tc pa3 pa5-ns pb3-ns">
    <%= image_tag 'icon-perspectives-colour.svg', :class => "w4 pt4" %>
    <h1 class="f2 f1-ns lh-title dark-gray mt2">
      Perspectives
    </h1>
    <p class="f4 lh-copy">
      The Perspectives platform provides a medium to exercise data.
    </p>
    <p class="f5 lh-copy">
      A Perspective is a tailored data visualisation and exploration tool that provides a balanced understanding of a specific aspect of your city. By bringing together multiple related datasets and applying frameworks or models, each Perspective condenses complex inter-related measures into a form that can be readily understood and shared.
    </p>
    <p class="f5 lh-copy">
      The Perspectives platform provides insights across core strategy areas that can help to inform stakeholders of what the right questions are. BucketLabs’ goal is not to simply provide tools for data, but to provide tools that can support the processes of strategic and operational planning.
    </p>

  </div>



  <div class="cf center tc pa3 pv5">
    <%= image_tag 'perspectives-screenshot.png', :class => "w-100 w-two-thirds-ns" %>
  </div>


  <div class="cf center pv3">
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-perspectives-1.svg', :class => "w3" %>
      <h3 class='f3 lh-title red ma3'>
        Specific city challenges
      </h3>
      <p class="f5 lh-copy">
        Designed for the non-specialist user, Perspectives focusses on specific city challenges allowing users to easily interrogate and understand complex data.
      </p>
    </div>
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-perspectives-2.svg', :class => "w3" %>
      <h3 class='f3 lh-title red ma3'>
        Shared frameworks
      </h3>
      <p class="f5 lh-copy">
        Each perspective brings together relevant data (internal and external) into challenge specific frameworks that can be shared across councils and partners for maximum benefit to all.
      </p>
    </div>
    <div class="fl w-100 w-third-ns ph4 tc">
      <%= image_tag 'icon-perspectives-3.svg', :class => "w3" %>
      <h3 class='f3 lh-title red ma3'>
        Telling better stories
      </h3>
      <p class="f5 lh-copy">
          Perspecitves helps to facilitate collaboration between councils and partners for more-informed decisionmaking.
      </p>
    </div>

  </div>
</div>
